:root{
  --main-background-color: #ffffff;
  --button-bg-color: #2196F3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #FFFFFF;
  --akcent-color: #2196F3;
}
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}
.hero {
  background-color:#2F303A;
  color:var(--white-text-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background-color: var(--button-bg-color);  
  color: var(--white-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ctrl+/ - коминтарий */
/* цвет основного тексат #212121; */
/*цвет вторичного текста #757575;*/
/*цвет текста Webstudio: Web - #2196F3;   Studio - #000000;/
/*цвет акцент #2196F3;*/
/* белый цвет на темном фоне #FFFFFF;*/
/* цвет текста в футоре ссылок на имейл и тел. rgb(255,255,255,0,6); */

/* цвет фона #FFFFFF; */
/* цвет фона героя #2F303A; */
/* цвет фона секции первой и второй #E5E5E5; */
!
/* цвет фона секции "Наша команда" #F5F4FA; */
/* правила для шрифта
font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* font-family: inherit */
